*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-image: linear-gradient(to bottom right,#fbdb89,#f48982);
    background-size: cover;
    background-repeat: no-repeat;
}
#navContainer {
    width: 95%;
    margin: 30px auto 0 auto;
    background-color: #f9f3f5;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 20px;
}
nav img {
    width: 150px;
    height: 50px;
}
#searchForm {
    position: relative;
}
#searchInput {
    width: 400px;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 20px;
    transition: transform 0.5s;
}
#searchBtn {
    color: white;
    width: 100px;
    padding: 8px;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    position: absolute;
    right: 0px;
    transition: transform 0.5s;
    background-image: linear-gradient(to bottom right,#fbdb89,#f48982);
}
#searchForm #searchBtn:hover {
    transform: scale(1.2, 1.1);
}
#searchForm input:focus {
    transform: translateY(-3px);
    box-shadow: -2px 6px 10px 2px rgba(220, 219, 218, 0.838);
}
#searchForm input:focus + button {
    transform: translateY(-3px);
}
nav ul {
    display: flex;
    margin-bottom: 0;
}
nav li {
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: #615551;
    font-weight:500;
    padding: 33px 10px;
}
nav li i {
    color: #f38e82;
    font-size: 20px;
    margin-right: 8px;
}
nav li a:hover {
    background-color: #ece8e8c9;
    color: #615551;
}
#bookmarksContainer {
    background-color: white;
    padding: 30px;
    width: 36%;
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
}
nav .bookmarkLi:hover + #bookmarksContainer {
    display: block;
}
#bookmarksContainer p {
    color: #615551;
    font-weight:500;
    margin-left: 10px;
    text-align: center;
}
.fa-triangle-exclamation {
    color: #f38e82;
    font-size: 20px;
    margin-right: 10px;
}
#modalForm {
    display: flex;
    justify-content: space-around;
    color: #615551;
}
#modalFormElm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
} 
#modalForm h4 {
    margin-bottom: 20px;
}
#modalFormElm label {
    width: 130px;
}
#modalFormElm input {
    width: 300px;
    padding: 5px;
    outline: none;
    border: 2px solid rgba(221, 221, 221, 0.565);
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s;
}
#modalFormElm input:focus {
    border: 1px solid #f38e82;
    background-color: rgba(245, 236, 236, 0.83);
}
#modalFormBtn {
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 140px;
    margin-top: 20px;
    color: white;
    background-image: linear-gradient(to bottom right,#fbdb89,#f48982);
}
.fa-cloud-arrow-up {
    color: white !important;
}
#modalForm + div {
    text-align: center;
}
/*-------------main display section------------------*/
#displayContainer {
    width: 95%;
    margin: 0 auto 30px auto;
    display: flex;
    height: 190vh;
    box-shadow: 0 10px 10px 2px rgba(189, 189, 188, 0.838);
}
/*-----------aside section----------*/
aside {
    width: 30%;
    padding: 20px 0;
    background-color: white;
    border-bottom-left-radius: 10px;
}
#displayResult {
    display: grid;
    grid-template-columns: auto;
}
.recipeResult {
    
    display: flex;
    align-items: center;
    color: #615551;
    padding: 10px 20px;
    background-color: white;
    transition: transform, background-color, 0.5s;
}
.recipeResult:hover {
    background-color:   #f9f3f5;
    cursor: pointer;
    transform: translateY(-3px);

}
.recipeTitle {
    color: #f38e82;
    font-size: 15px;
    text-transform: uppercase;
}
.recipePublisher {
    font-weight: normal;
    font-size: 13px;
}
.recipePicture {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
}
/*---------loader-----------*/
.lds-dual-ring {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.lds-dual-ring:after {
content: " ";
display: block;
width: 64px;
height: 64px;
margin: 8px;
border-radius: 50%;
border: 6px solid  #f38e82;
border-color:  #f38e82 transparent  #f38e82 transparent;
animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
/*---error message when no recipe found---*/
.errorMsg {
    width: 90%;
    margin: auto;
    text-align: center;
}
.errorMsg p {
    color: #615551 !important;
    font-weight:400;
    font-size: 18px;
    margin-top: 8px;
}
/*---pagination---*/
#paginationContainer {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}
.paginationBtn {
    width: 40px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 50%;
    margin-right: 8px;
    background-color: #f48982;
}

main {
    width: 70%;
    background-color: #f9f3f5;
    border-bottom-right-radius: 10px;
}
#welcomeMsg {
    width: 80%;
    margin: 30px auto;
    font-size: 17px;
    font-weight: 500;
    color: #615551;
    text-align: center;

}
#welcomeMsg i{
    color: #f48982;
    margin-right: 10px;
    font-size: 25px;
}
#recipe {
    display: none;
}
.recipeInfo {
    position: relative;
    background-color: #f38d8278;
    z-index: 3; /*ne s'applique pas--------------------------------------*/
}

.recipeImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: #f3bb82f9;
}
.recipeName {
    color: white;
    background-image: linear-gradient(to bottom right,#fbdb89,#f48982);
    text-align: center;
    width: 45%;
    position: absolute;
    right: 30%;
    bottom: 7%;
    padding: 8px 0;
    font-weight: 500;
    font-size: 35px;
    transform: rotate(-5deg);
}
.recipeDetail {
    padding: 60px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #615551;
}
.recipeDetail i, .fa-check {
    color: #f48982;
    margin-right: 13px;
}
.fa-circle-plus {
    margin-right: 4px !important;
    margin-left: 13px !important;
}
#iconContainer {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right,#fbdb89,#f48982);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}
#iconContainer:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.fa-bookmark1 {
    color: white !important;
    font-size: 20px;
    margin: 0 !important;
}
.recipeIngredient {
    background-color:  #fbf9f9;
    padding: 30px 0;
}
.title {
    color: #f38e82;
    text-align: center;
    margin-bottom: 20px;
}
.ingredientList {
    width: 80%;
    margin: auto;
    list-style: none;
    color: #615551;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 60px;
} 
.recipeDirection {
    padding: 30px 0;
    width: 75%;
    margin: auto;

}
.additionalInfo {
    color: #615551;
    text-align: center;
}
.btn {
    width: 100%;
    margin: auto
}
.btnDirection {
    color: white;
    width: 150px;
    padding: 9px;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    transition: transform 0.5s;
    background-image: linear-gradient(to bottom right,#fbdb89,#f48982);
}
.btnDirection:hover {
    transform: scale(1.1);
}








